doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="/images/logo/logo-mobile.svg" type="image/x-icon")

    block title
      title Pink Beauty Center | Home
    |
    |
    /// Fonts
    link(href='https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800;900&display=swap' rel='stylesheet')

    ///****Css Files****
    block styles
    |
    |
    ///****JS Files
    block scripts
    |
    |

  body 

    block layout