* {
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  font-size: 1rem;
  font-family: "Cairo", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  color: #e8556f;
  font-family: "Cairo", sans-serif;
}

h1 {
  color: #e8556f;
  font-size: calc(1.5rem + 3vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3.75rem;
  }
}

h2 {
  font-size: calc(1.4375rem + 2.25vw);
  font-weight: 600;
}
@media (min-width: 1200px) {
  h2 {
    font-size: 3.125rem;
  }
}

h3,
h4 {
  font-size: 1.125rem;
  font-family: "Cairo", sans-serif;
}

p,
q {
  line-height: 1.9;
  font-size: 1.125rem;
  margin: 0;
  font-family: "Cairo", sans-serif;
  color: #151514;
}
@media (max-width: 768px) {
  p,
q {
    font-size: 1rem;
  }
}

ul {
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

a {
  font-size: 0.875rem;
  font-family: "Cairo", sans-serif;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

img {
  width: 100%;
  height: auto;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.modal-content {
  border-radius: 10px;
  border: none;
}

.contact-us form {
  width: 60%;
}
@media (max-width: 992px) {
  .contact-us form {
    width: 100%;
  }
}
.contact-us form .row {
  row-gap: 50px;
}
.contact-us form .row label {
  font-size: 1rem;
}

img {
  width: 100%;
  height: auto;
}

textarea {
  resize: none;
  padding-top: 15px !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #2b3990;
  border-radius: 50px;
}

.form-control {
  background-color: transparent;
  border-color: #e8556f;
  border-radius: 5px;
  min-height: 60px;
  position: relative;
  z-index: 999999;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #2b3990;
}

.animation-delay-1 {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.animation-delay-2 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.animation-delay-3 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.animation-delay-4 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.animation-delay-5 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.animation-delay-6 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.animation-delay-7 {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

.animation-delay-8 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.animation-delay-9 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.animation-delay-10 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

@media (max-width: 768px) {
  .wow {
    -webkit-transition-property: none !important;
    transition-property: none !important;
    -webkit-transform: none !important;
            transform: none !important;
    -webkit-animation: none !important;
            animation: none !important;
  }
}
input,
textarea {
  background-color: transparent !important;
  border-color: #e8556f !important;
  color: #e8556f !important;
}
input:focus,
textarea:focus {
  background-color: transparent !important;
  border-color: #2b3990 !important;
  color: #2b3990 !important;
}

.floating-label-group {
  position: relative;
}
.floating-label-group input,
.floating-label-group textarea {
  padding-left: 25px;
  color: #e8556f;
  border-color: #e8556f;
}
.floating-label-group .floating-label {
  color: #e8556f;
  position: absolute;
  pointer-events: none;
  top: 17px;
  right: 25px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.floating-label-group input:focus ~ .floating-label,
.floating-label-group input:not(:focus):valid ~ .floating-label {
  top: -35px;
  color: #2b3990;
}
.floating-label-group .is-floating-label {
  position: relative;
}
.floating-label-group .is-floating-label label {
  color: #e8556f;
  position: absolute;
  pointer-events: none;
  top: 17px;
  right: 25px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.floating-label-group .is-floating-label.is-focused label {
  top: -35px;
  color: #2b3990;
}

.button {
  background-color: #fff;
  border: 2px solid #fff;
  padding: 0.9375rem calc(1.375rem + 1.5vw);
  border-radius: 10px;
  font-size: 1.125rem;
  color: #e8556f;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: calc(1.3125rem + 0.75vw);
  display: inline-block;
}
@media (min-width: 1200px) {
  .button {
    padding: 0.9375rem 2.5rem;
  }
}
@media (min-width: 1200px) {
  .button {
    margin-top: 1.875rem;
  }
}
.button.alt {
  background-color: #e8556f;
  color: #fff;
}
.button.alt:hover {
  color: #e8556f;
  border-color: #e8556f;
}
.button:hover {
  background-color: transparent;
  color: #fff;
}

.swiper-pagination {
  position: absolute;
  top: 50%;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  right: 97% !important;
}
@media (max-width: 992px) {
  .swiper-pagination {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    right: 50% !important;
    top: 95%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 5px;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #e8556f !important;
  border-color: #e8556f !important;
}

body.loader-avtive {
  height: 100vh;
  overflow: hidden;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  background-color: #fff;
}
.loader-wrapper .loader {
  position: absolute;
  top: 50%;
  left: 40%;
  margin-left: 10%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.loader-wrapper .loader .dot {
  width: 24px;
  height: 24px;
  background: #2b3990;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: slide 1s infinite;
          animation: slide 1s infinite;
}
.loader-wrapper .loader .dot:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  background: #2b3990;
}
.loader-wrapper .loader .dot:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  background: #2b3990;
}
.loader-wrapper .loader .dot:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  background: #2b3990;
}
.loader-wrapper .loader .dot:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  background: #2b3990;
}
.loader-wrapper .loader .dot:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  background: #2b3990;
}
@-webkit-keyframes slide {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0.3;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes slide {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0.3;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

section {
  padding: 150px 0;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.section-heading {
  margin-bottom: 80px;
}

.section-heading h2 {
  margin-bottom: calc(1.3125rem + 0.75vw);
}
@media (min-width: 1200px) {
  .section-heading h2 {
    margin-bottom: 1.875rem;
  }
}

.section-heading p {
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .section-heading h2,
.section-heading p {
    text-align: center;
  }
}
header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  z-index: 99;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media (min-width: 991px) {
  header {
    min-height: 100px;
    max-height: 100px;
  }
}
header .navbar-brand img {
  max-height: 70px;
}
header .menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  z-index: 999;
}
header .line {
  fill: none;
  stroke: #e8556f;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
header .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
header .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
header .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
header .opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
header .opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
header .opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
header.nav-up {
  top: -200px;
}
header .nav-link {
  color: #707070;
  font-size: 17px;
}
header .nav-link.active, header .nav-link:focus {
  color: #e8556f;
}
header .nav-link:hover {
  color: #e8556f;
}
@media (max-width: 1200px) {
  header .navbar {
    padding-top: 0;
  }
  header .navbar-collapse {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .navbar-collapse.collapse:not(.show) {
    display: block;
  }
  header #navbarNav {
    background-color: #fff;
    top: 0;
    right: 100%;
    z-index: 9;
    padding-top: calc(1.4375rem + 2.25vw);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
@media (max-width: 1200px) and (min-width: 1200px) {
  header #navbarNav {
    padding-top: 3.125rem;
  }
}
@media (max-width: 1200px) {
  header #navbarNav.collapse.show {
    right: 0;
  }
}
@media (max-width: 1200px) {
  header #navbarNav .nav-link {
    font-size: 1.25rem;
  }
}

.hero video {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  inset: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .overlay {
  width: 100%;
  height: 100%;
  background-color: #e8556f;
  opacity: 0.3;
  position: absolute;
  inset: 0;
}
.hero h2.slider-heading {
  font-size: calc(1.5625rem + 3.75vw);
}
@media (min-width: 1200px) {
  .hero h2.slider-heading {
    font-size: 4.375rem;
  }
}
.hero .swiper-slide {
  height: 827px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
}
.hero .swiper-slide h1,
.hero .swiper-slide h2 {
  font-weight: bold;
  color: #fff;
}
.hero .swiper-slide p {
  color: #fff;
  font-size: 1.125rem;
}
.hero .swiper-slide::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #e8556f;
  opacity: 0.3;
  position: absolute;
  z-index: -1;
}
.hero .swiper-slide.one, .hero .swiper-slide.two, .hero .swiper-slide.three {
  background: url("../images/banners/salon.jpg") center center no-repeat;
  background-size: cover;
}
.hero .container {
  padding-top: calc(2.0625rem + 9.75vw);
  padding-bottom: calc(2.0625rem + 9.75vw);
}
@media (min-width: 1200px) {
  .hero .container {
    padding-top: 9.375rem;
  }
}
@media (min-width: 1200px) {
  .hero .container {
    padding-bottom: 9.375rem;
  }
}
@media (max-width: 576px) {
  .hero .container {
    margin-top: calc(-1.75rem - 6vw);
  }
}
@media (max-width: 576px) and (min-width: 1200px) {
  .hero .container {
    margin-top: -6.25rem;
  }
}

@media (max-width: 992px) {
  .about-us,
.vision {
    padding-bottom: 0;
  }
}

@media (max-width: 992px) {
  .mision,
.vision {
    padding-top: 50px;
  }
}

.about-us .circles img,
.vision .circles img,
.mision .circles img {
  position: absolute;
  z-index: -1;
}
.about-us .circles img.one,
.vision .circles img.one,
.mision .circles img.one {
  width: 98px;
  height: 98px;
  top: 57px;
  right: 5%;
  -webkit-animation: floating ease-in-out 3s infinite;
          animation: floating ease-in-out 3s infinite;
}
.about-us .circles img.two,
.vision .circles img.two,
.mision .circles img.two {
  width: 40px;
  height: 40px;
  bottom: 57px;
  left: 30%;
  -webkit-animation: floating ease-in-out 1s infinite alternate;
          animation: floating ease-in-out 1s infinite alternate;
}
.about-us .circles img.three,
.vision .circles img.three,
.mision .circles img.three {
  width: 74px;
  height: 74px;
  top: 103px;
  left: 4%;
  -webkit-animation: left_right ease-in-out 5s infinite;
          animation: left_right ease-in-out 5s infinite;
}
.about-us .circles img.four,
.vision .circles img.four,
.mision .circles img.four {
  width: 74px;
  height: 74px;
  bottom: 40px;
  right: 2%;
  -webkit-animation: left_right ease-in-out 2s infinite alternate;
          animation: left_right ease-in-out 2s infinite alternate;
}
.about-us img,
.vision img,
.mision img {
  width: 75%;
}
@media (max-width: 992px) {
  .about-us img,
.vision img,
.mision img {
    width: 100%;
  }
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  75% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes floating {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  75% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes left_right {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  75% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes left_right {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  75% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.our-services {
  background-color: #e8556f;
  padding: 80px 0;
}
.our-services .shapes img {
  position: absolute;
  z-index: -1;
}
.our-services .shapes .circle-lins-01 {
  width: 267.73px;
}
.our-services .shapes .waves {
  width: 290.4px;
  left: 0;
}
.our-services .shapes .circle-circle-01 {
  width: 185.75px;
  bottom: 20%;
}
.our-services .shapes .circle-circle-02 {
  width: 185.75px;
  bottom: 5%;
  left: 3%;
}
.our-services .row {
  row-gap: 50px;
}
.our-services .section-heading h2,
.our-services .section-heading p {
  color: #fff;
}
.our-services .section-heading h2 {
  font-size: calc(1.4375rem + 2.25vw);
}
@media (min-width: 1200px) {
  .our-services .section-heading h2 {
    font-size: 3.125rem;
  }
}
.our-services .service-card {
  height: 100%;
  background-color: #fff;
  padding: 40px 40PX;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 30px -8px #3c3c3c;
          box-shadow: 0 0 30px -8px #3c3c3c;
  margin-left: 10px;
  margin-left: 10px;
}
.our-services .service-card .card-image img {
  border-radius: 100%;
}
.our-services .service-card .card-heading {
  font-weight: 600;
  font-size: calc(1.28125rem + 0.375vw);
}
@media (min-width: 1200px) {
  .our-services .service-card .card-heading {
    font-size: 1.5625rem;
  }
}

.team .text-side {
  z-index: 3;
}
.team .team-name {
  margin-top: 0px;
  margin-bottom: 3px;
  color: #000;
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
}
.team .team-role {
  color: #000;
  font-size: 18px;
  line-height: 26px;
}
.team .team-heading {
  margin-top: 0px;
  margin-bottom: 40px;
}
.team .swiper {
  width: 100%;
  height: 100%;
}
.team .swiper-slide img {
  max-width: 100%;
  width: auto;
}
.team .team-card {
  padding: calc(1.275rem + 0.3vw) calc(1.275rem + 0.3vw) calc(1.3125rem + 0.75vw);
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 20px 0 hsla(0deg, 0%, 89.8%, 0.5);
          box-shadow: 0 5px 20px 0 hsla(0deg, 0%, 89.8%, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1200px) {
  .team .team-card {
    padding: 1.5rem 1.5rem 1.875rem;
  }
}
.team .team-card:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
.team .team-slider-mask {
  overflow: visible;
  width: 50%;
  margin-top: -20px;
  padding: 1.25rem 0;
}
.team .team-photo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 432px;
  margin-bottom: 24px;
  padding-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background-color: #e8556f;
}
.team .team-photo-wrapper.blue {
  background-color: #96c1ca;
}
.team .team-photo-wrapper.oil {
  background-color: #c0ca96;
}
.team .team-card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team .team-slider-arrow-left {
  right: 0%;
  top: auto;
  left: auto;
  bottom: 20px;
  width: 80px;
  height: 80px;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  background-color: #fff;
  background-image: url("https://assets.website-files.com/6116cf941b0b13b582fa6cc5/6116d567548e673d3556a285_Arrow%20Left.svg");
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
.team .team-slider-arrow-left:hover {
  border-color: #e8556f;
  background-color: #e8556f;
  background-image: url("https://assets.website-files.com/6116cf941b0b13b582fa6cc5/6116d59c7b50eaa80a28db3a_Arrow%20left%20white.svg");
}
.team .team-slider-arrow-right {
  right: 104px;
  top: auto;
  left: auto;
  bottom: 20px;
  width: 80px;
  height: 80px;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  background-color: #fff;
  background-image: url("https://assets.website-files.com/6116cf941b0b13b582fa6cc5/6116d62a9df52e68f7ebe257_Arrow%20Right.svg");
  background-position: 50% 50%;
  background-size: 9px;
  background-repeat: no-repeat;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
.team .team-slider-arrow-right:hover {
  border-color: #e8556f;
  background-color: #e8556f;
  background-image: url("https://assets.website-files.com/6116cf941b0b13b582fa6cc5/6116d64066e93c555836e99f_Arrow%20Right%20white.svg");
}
.team .team-slider-overlay {
  position: absolute;
  z-index: 2;
  width: 700px;
  height: 100%;
  right: 0;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(25%, #fff), color-stop(53%, hsla(0deg, 0%, 100%, 0.94)), color-stop(70%, hsla(0deg, 0%, 100%, 0.8)), color-stop(87%, hsla(0deg, 0%, 100%, 0.48)), to(hsla(0deg, 0%, 100%, 0)));
  background-image: linear-gradient(90deg, #fff 25%, hsla(0deg, 0%, 100%, 0.94) 53%, hsla(0deg, 0%, 100%, 0.8) 70%, hsla(0deg, 0%, 100%, 0.48) 87%, hsla(0deg, 0%, 100%, 0));
}
.team .team-slider-overlay-left {
  position: absolute;
  right: -1000px;
  top: -20px;
  left: auto;
  bottom: -20px;
  z-index: 2;
  width: 1000px;
  background-color: #fff;
}
.team .social-icons {
  margin-right: 20px;
}
.team .social-icons img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.team .social-icons img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.team .swiper-button-prev:after,
.team .swiper-rtl .swiper-button-next:after,
.team .swiper-button-next:after,
.team .swiper-rtl .swiper-button-prev:after {
  content: none;
}
.team .swiper-controls {
  position: absolute;
  right: -71%;
  bottom: 3%;
}
.team .team-bg img {
  position: absolute;
  width: 836px;
  height: 836px;
  top: -100px;
  right: 0;
  z-index: -1;
}
@media (max-width: 992px) {
  .team .team-swiper {
    overflow: hidden;
  }
}

.our-message {
  padding-top: calc(2.375rem + 13.5vw);
  padding-bottom: calc(2.375rem + 13.5vw);
}
@media (min-width: 1200px) {
  .our-message {
    padding-top: 12.5rem;
  }
}
@media (min-width: 1200px) {
  .our-message {
    padding-bottom: 12.5rem;
  }
}
@media (max-width: 992px) {
  .our-message {
    padding-top: 0;
  }
}
.our-message .bg img {
  width: 70%;
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
}
.our-message .message img {
  width: 70%;
  text-align: start;
}
.our-message .shapes img {
  position: absolute;
}
.our-message .shapes .heart-01 {
  width: 123px;
  height: 154px;
  top: 22%;
  left: 11%;
}
.our-message .shapes .heart-02 {
  width: 172px;
  height: 89px;
  bottom: 20%;
  right: 44%;
}

footer {
  background-color: #e8556f;
  padding-top: calc(2.25rem + 12vw);
  padding-bottom: calc(1.4375rem + 2.25vw);
}
@media (min-width: 1200px) {
  footer {
    padding-top: 11.25rem;
  }
}
@media (min-width: 1200px) {
  footer {
    padding-bottom: 3.125rem;
  }
}
@media (max-width: 992px) {
  footer {
    padding-top: calc(1.4375rem + 2.25vw);
  }
}
@media (max-width: 992px) and (min-width: 1200px) {
  footer {
    padding-top: 3.125rem;
  }
}
footer .footer-shape img {
  top: -180px;
}
footer h3,
footer p {
  color: #fff;
}
footer h3 {
  font-size: calc(1.2625rem + 0.15vw);
  font-weight: 600;
  padding-top: 30px;
}
@media (min-width: 1200px) {
  footer h3 {
    font-size: 1.375rem;
  }
}
footer li {
  line-height: 2;
}
footer a {
  color: #fff;
  font-size: 1rem;
}
footer a:hover {
  color: #fff;
}
footer .social-media li a {
  margin-right: 10px;
}
footer .social-media svg {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
footer .social-media svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer-bottom {
  background-color: #151514;
  padding: 0.9375rem 0;
}
.footer-bottom p {
  color: #fff;
}
.footer-bottom p a {
  font-size: 1.125rem;
  color: #2b3990;
}

.page-banner {
  margin-top: calc(1.75rem + 6vw);
  height: 150px;
  background-color: #e8556f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1200px) {
  .page-banner {
    margin-top: 6.25rem;
  }
}
.page-banner h1 {
  text-align: center;
  color: #fff;
  font-size: calc(1.40625rem + 1.875vw);
}
@media (min-width: 1200px) {
  .page-banner h1 {
    font-size: 2.8125rem;
  }
}