* {
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  font-size: 1rem;
  font-family: "Tajawal", sans-serif;
  background-color: #982e6d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  color: #982e6d;
  font-family: "Tajawal", sans-serif;
}

h1 {
  color: #fff;
  font-size: calc(1.5rem + 3vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3.75rem;
  }
}

h2 {
  font-size: calc(1.4375rem + 2.25vw);
  font-weight: 600;
  color: #fff;
}
@media (min-width: 1200px) {
  h2 {
    font-size: 3.125rem;
  }
}

h3,
h4 {
  font-size: 1.125rem;
  font-family: "Tajawal", sans-serif;
}

p,
q {
  line-height: 1.9;
  font-size: 1.125rem;
  margin: 0;
  font-family: "Tajawal", sans-serif;
  color: #fff;
}
@media (max-width: 768px) {
  p,
q {
    font-size: 1rem;
  }
}

ul {
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

a {
  font-size: 0.875rem;
  font-family: "Tajawal", sans-serif;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

img {
  width: 100%;
  height: auto;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.modal-content {
  border-radius: 10px;
  border: none;
}

.contact-us form {
  width: 60%;
}
@media (max-width: 992px) {
  .contact-us form {
    width: 100%;
  }
}
.contact-us form .row {
  row-gap: 50px;
}
.contact-us form .row label {
  font-size: 1rem;
}

img {
  width: 100%;
  height: auto;
}

textarea {
  resize: none;
  padding-top: 15px !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #2b3990;
  border-radius: 50px;
}

.form-control {
  background-color: transparent;
  border-color: #982e6d;
  border-radius: 5px;
  min-height: 60px;
  position: relative;
  z-index: 999999;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #fff;
}

.animation-delay-1 {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.animation-delay-2 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.animation-delay-3 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.animation-delay-4 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.animation-delay-5 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.animation-delay-6 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.animation-delay-7 {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

.animation-delay-8 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.animation-delay-9 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.animation-delay-10 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

@media (max-width: 768px) {
  .wow {
    -webkit-transition-property: none !important;
    transition-property: none !important;
    -webkit-transform: none !important;
            transform: none !important;
    -webkit-animation: none !important;
            animation: none !important;
  }
}
input,
textarea {
  background-color: transparent !important;
  border-color: #fff !important;
  color: #fff !important;
}
input:focus,
textarea:focus {
  background-color: transparent !important;
  border-color: #fff !important;
  color: #fff !important;
}

.floating-label-group {
  position: relative;
}
.floating-label-group input,
.floating-label-group textarea {
  padding-left: 25px;
  color: #fff;
  border-color: #fff;
}
.floating-label-group .floating-label {
  color: #fff;
  position: absolute;
  pointer-events: none;
  top: 17px;
  right: 25px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.floating-label-group input:focus ~ .floating-label,
.floating-label-group input:not(:focus):valid ~ .floating-label {
  top: -35px;
  color: #fff;
}
.floating-label-group .is-floating-label {
  position: relative;
}
.floating-label-group .is-floating-label label {
  color: #fff;
  position: absolute;
  pointer-events: none;
  top: 17px;
  right: 25px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.floating-label-group .is-floating-label.is-focused label {
  top: -35px;
  color: #fff;
}

.button {
  background-color: #fff;
  border: 2px solid #fff;
  padding: 0.9375rem calc(1.375rem + 1.5vw);
  border-radius: 10px;
  font-size: 1.125rem;
  color: #982e6d;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: calc(1.3125rem + 0.75vw);
  display: inline-block;
}
@media (min-width: 1200px) {
  .button {
    padding: 0.9375rem 2.5rem;
  }
}
@media (max-width: 768px) {
  .button {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  .button {
    margin-top: 1.875rem;
  }
}
.button.alt {
  background-color: #982e6d;
  color: #fff;
  border-color: #982e6d;
}
.button.alt:hover {
  color: #982e6d;
  border-color: #982e6d;
}
.button:hover {
  background-color: transparent;
  color: #fff;
}

.swiper-pagination {
  position: absolute;
  top: 50%;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  right: 97% !important;
}
@media (max-width: 992px) {
  .swiper-pagination {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    right: 50% !important;
    top: 95%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 5px;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #982e6d !important;
  border-color: #982e6d !important;
}

body.loader-avtive {
  height: 100vh;
  overflow: hidden;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  background-color: #982e6d;
}
.loader-wrapper .loader {
  position: absolute;
  top: 50%;
  left: 40%;
  margin-left: 10%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.loader-wrapper .loader .dot {
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: slide 1s infinite;
          animation: slide 1s infinite;
}
.loader-wrapper .loader .dot:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  background: #fff;
}
.loader-wrapper .loader .dot:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  background: #fff;
}
.loader-wrapper .loader .dot:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  background: #fff;
}
.loader-wrapper .loader .dot:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  background: #fff;
}
.loader-wrapper .loader .dot:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  background: #fff;
}
@-webkit-keyframes slide {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0.3;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes slide {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0.3;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

section {
  padding: 150px 0;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
@media (max-width: 992px) {
  section {
    padding-top: 50px;
    padding-bottom: 0px;
  }
}

.section-heading {
  margin-bottom: 80px;
}

.section-heading h2 {
  margin-bottom: calc(1.3125rem + 0.75vw);
}
@media (min-width: 1200px) {
  .section-heading h2 {
    margin-bottom: 1.875rem;
  }
}

.section-heading p {
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .section-heading h2,
.section-heading p {
    text-align: center;
  }
}
header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  z-index: 99;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media (min-width: 991px) {
  header {
    min-height: 100px;
    max-height: 100px;
  }
}
header .navbar-brand img {
  max-height: 70px;
}
header .menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  z-index: 999;
}
header .line {
  fill: none;
  stroke: #fff;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
header .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
header .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
header .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
header .opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
header .opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
header .opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
header.nav-up {
  top: -200px;
}
header .nav-link {
  color: #982e6d;
  font-size: 20px;
  font-weight: 500;
}
header .nav-link.active, header .nav-link:focus {
  color: #2b3990;
}
header .nav-link:hover {
  color: #2b3990;
}
@media (max-width: 768px) {
  header .navbar {
    padding-top: 0;
  }
  header .navbar-collapse {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .navbar-collapse.collapse:not(.show) {
    display: block;
  }
  header #navbarNav {
    background-color: #982e6d;
    top: 0;
    right: 100%;
    z-index: 9;
    padding-top: calc(1.4375rem + 2.25vw);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
@media (max-width: 768px) and (min-width: 1200px) {
  header #navbarNav {
    padding-top: 3.125rem;
  }
}
@media (max-width: 768px) {
  header #navbarNav.collapse.show {
    right: 0;
  }
}
@media (max-width: 768px) {
  header #navbarNav .nav-link {
    font-size: 1.25rem;
  }
}

.mobile-header {
  border-radius: 20px;
  margin: 20px;
  padding: 30px;
}
.mobile-header img {
  max-width: 150px;
}

/* Home */
.home {
  overflow: hidden;
  padding-top: 80px;
  position: relative;
  min-height: 100vh;
  height: 100%;
}
.home .row {
  min-height: 100vh;
  height: 100%;
}
.home h1 {
  font-size: 72px;
  font-weight: bold;
}
@media (max-width: 992px) {
  .home {
    padding-top: 30px;
    padding-bottom: 0;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .home .row {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .home h1 {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .home h1 {
    font-size: 40px;
  }
}
.home .circle {
  position: absolute;
  z-index: -1;
}
.home .circle.circle-1 {
  max-width: 300px;
  left: -50px;
  top: 122px;
}
@media (max-width: 1199px) {
  .home .circle.circle-1 {
    max-width: 200px;
  }
}
.home .circle.circle-2 {
  max-width: 400px;
  position: absolute;
  right: -80px;
  bottom: 0;
}
@media (max-width: 1199px) {
  .home .circle.circle-2 {
    max-width: 300px;
  }
}

.our-services {
  background-color: #982e6d;
  padding: 80px 0;
}
.our-services .row {
  row-gap: 50px;
}
.our-services .section-heading h2,
.our-services .section-heading p {
  color: #fff;
}
.our-services .section-heading h2 {
  font-size: calc(1.4375rem + 2.25vw);
}
@media (min-width: 1200px) {
  .our-services .section-heading h2 {
    font-size: 3.125rem;
  }
}
.our-services .service-card {
  height: 100%;
  background-color: #fff;
  padding: 40px 40PX;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 30px -8px #3c3c3c;
          box-shadow: 0 0 30px -8px #3c3c3c;
  margin-left: 10px;
}
@media (max-width: 768px) {
  .our-services .service-card {
    margin-left: 0;
  }
}
.our-services .service-card .card-image img {
  width: 100%;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}
.our-services .service-card .card-heading {
  font-weight: 600;
  font-size: calc(1.28125rem + 0.375vw);
}
@media (min-width: 1200px) {
  .our-services .service-card .card-heading {
    font-size: 1.5625rem;
  }
}
.our-services .service-card p {
  color: #151514;
}

.team .text-side {
  z-index: 3;
}
.team .team-name {
  margin-top: 0px;
  margin-bottom: 3px;
  color: #000;
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
}
.team .team-role {
  color: #000;
  font-size: 18px;
  line-height: 26px;
}
.team .team-heading {
  margin-top: 0px;
  margin-bottom: 40px;
}
.team img {
  max-width: 100%;
  width: auto;
}
.team .team-card {
  padding: calc(1.275rem + 0.3vw) calc(1.275rem + 0.3vw) calc(1.3125rem + 0.75vw);
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 20px 0 hsla(0deg, 0%, 89.8%, 0.5);
          box-shadow: 0 5px 20px 0 hsla(0deg, 0%, 89.8%, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1200px) {
  .team .team-card {
    padding: 1.5rem 1.5rem 1.875rem;
  }
}
.team .team-card:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
.team .team-photo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 432px;
  margin-bottom: 24px;
  padding-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background-color: #982e6d;
}
.team .team-photo-wrapper.blue {
  background-color: #96c1ca;
}
.team .team-photo-wrapper.oil {
  background-color: #c0ca96;
}
.team .team-card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team .social-icons {
  margin-right: 20px;
}
.team .social-icons img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.team .social-icons img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.our-message {
  padding-top: calc(2.375rem + 13.5vw);
  padding-bottom: calc(2.375rem + 13.5vw);
}
@media (min-width: 1200px) {
  .our-message {
    padding-top: 12.5rem;
  }
}
@media (min-width: 1200px) {
  .our-message {
    padding-bottom: 12.5rem;
  }
}
@media (max-width: 992px) {
  .our-message {
    padding-top: 0;
  }
}
.our-message .bg img {
  width: 70%;
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
}
.our-message .message img {
  width: 70%;
  text-align: start;
}
.our-message .shapes img {
  position: absolute;
}
.our-message .shapes .heart-01 {
  width: 123px;
  height: 154px;
  top: 22%;
  left: 11%;
}
.our-message .shapes .heart-02 {
  width: 172px;
  height: 89px;
  bottom: 20%;
  right: 44%;
}

footer {
  background-color: #2b3990;
  padding-top: calc(2.25rem + 12vw);
  padding-bottom: calc(1.4375rem + 2.25vw);
}
@media (min-width: 1200px) {
  footer {
    padding-top: 11.25rem;
  }
}
@media (min-width: 1200px) {
  footer {
    padding-bottom: 3.125rem;
  }
}
@media (max-width: 992px) {
  footer {
    padding-top: calc(1.4375rem + 2.25vw);
  }
}
@media (max-width: 992px) and (min-width: 1200px) {
  footer {
    padding-top: 3.125rem;
  }
}
footer .footer-shape img {
  top: -180px;
}
footer h3,
footer p {
  color: #fff;
}
footer h3 {
  font-size: calc(1.2625rem + 0.15vw);
  font-weight: 600;
  padding-top: 30px;
}
@media (min-width: 1200px) {
  footer h3 {
    font-size: 1.375rem;
  }
}
footer li {
  line-height: 2;
}
footer a {
  color: #fff;
  font-size: 1rem;
}
footer a:hover {
  color: #fff;
}
footer .social-media li a {
  margin-right: 10px;
}
footer .social-media svg {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
footer .social-media svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer-bottom {
  background-color: #151514;
  padding: 0.9375rem 0;
}
.footer-bottom p {
  color: #fff;
}
.footer-bottom p a {
  font-size: 1.125rem;
  color: #2b3990;
}

@media (max-width: 992px) {
  .about-us,
.vision,
.mision,
.our-services {
    padding-bottom: 0;
  }
}

@media (max-width: 992px) {
  .mision,
.vision {
    padding-top: 50px;
  }
}

.accordion-section .circles img {
  position: absolute;
  z-index: -1;
}
.accordion-section .circles img.one {
  width: 98px;
  height: 98px;
  top: 57px;
  right: 5%;
  -webkit-animation: floating ease-in-out 3s infinite;
          animation: floating ease-in-out 3s infinite;
}
.accordion-section .circles img.two {
  width: 40px;
  height: 40px;
  bottom: 57px;
  left: 30%;
  -webkit-animation: floating ease-in-out 1s infinite alternate;
          animation: floating ease-in-out 1s infinite alternate;
}
.accordion-section .circles img.three {
  width: 74px;
  height: 74px;
  top: 103px;
  left: 4%;
  -webkit-animation: left_right ease-in-out 5s infinite;
          animation: left_right ease-in-out 5s infinite;
}
.accordion-section .circles img.four {
  width: 74px;
  height: 74px;
  bottom: 40px;
  right: 2%;
  -webkit-animation: left_right ease-in-out 2s infinite alternate;
          animation: left_right ease-in-out 2s infinite alternate;
}

.accordion {
  border-radius: 8px;
  padding: 16px;
}
.accordion .accordion-tab {
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: right;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #fff;
  border-radius: 10px;
}
.accordion .accordion-tab h3 {
  font-size: calc(1.3125rem + 0.75vw);
  color: #fff;
  margin: 0;
}
@media (min-width: 1200px) {
  .accordion .accordion-tab h3 {
    font-size: 1.875rem;
  }
}
.accordion .accordion-tab:hover {
  background-color: #1f2969;
  border-color: transparent;
}
.accordion .accordion-tab.active {
  border-bottom-color: transparent;
  background-color: #141a41;
}
.accordion .accordion-panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 20px;
  background-color: #1f2969;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.accordion .accordion-panel p {
  color: #ddd;
}

.accordion-tab.active + .accordion-panel {
  border-top: 1px solid #fff;
  padding: 18px;
}

.accordion-tab.active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  75% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  75% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes left_right {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  75% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes left_right {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  75% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}