// Jquery
script(defer  src='/js/jquery.min.js')
// Bootstrap
script(defer src='/js/bootstrap.min.js')
// Smoth Scroll
script(defer src='/js/smoth-scroll.min.js')
// Swiper Js
script(defer src='/js/swiper-bundle.min.js')
// Owl Carousel Js
script(defer src='/js/owl.carousel.min.js')
// Wow Js
script(src='/js/wow.min.js')
// Main Script
script(defer src='/js/main.js')
