@use "../helpers/vars" as *;
@use "../helpers/mixins" as *;
@use "../bootstrap/vendor/rfs" as *;

.our-services {
  background-color: $pink;
  padding: 80px 0;
  .row {
    row-gap: 50px;
  }
  .section-heading {
    h2,
    p {
      color: $white;
    }
    h2 {
      @include font-size(50px);
    }
  }
  .service-card {
    height: 100%;
    background-color: $white;
    padding: 40px 40PX;
    border-radius: 10px;
    box-shadow: 0 0 30px -8px #3c3c3c;
    margin-#{$end-dir}: 10px;
    @include media($md) {
      margin-#{$end-dir}: 0;
    }
    .card-image img {
      width: 100%;
      height: 300px;
      object-fit: contain;
    }
    .card-heading {
      font-weight: 600;
      @include font-size(25px);
    }
    p {
      color: $text;
    }
  }
}
