@use "../helpers/vars" as *;
@use "../helpers/mixins" as *;
@use "../bootstrap/vendor/rfs" as *;
.team {
  .text-side {
    z-index: 3;
  }

  .team-name {
    margin-top: 0px;
    margin-bottom: 3px;
    color: #000;
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
  }

  .team-role {
    color: #000;
    font-size: 18px;
    line-height: 26px;
  }

  .team-heading {
    margin-top: 0px;
    margin-bottom: 40px;
  }

  img {
    max-width: 100%;
    width: auto;
    border-radius: 50%;
  }
  .team-card {
    @include padding(24px 24px 30px);
    border-radius: 20px;
    background-color: $white;
    box-shadow: 0 5px 20px 0 hsla(0, 0%, 89.8%, 0.5);
    transition: all .3s ease-in-out;
    &:hover {
      transform: translateY(-20px);
    }
  }

  .team-photo-wrapper {
    display: flex;
    height: 432px;
    margin-bottom: 24px;
    padding-top: 20px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
    background-color: $pink;
    &.blue {
      background-color: #96c1ca;
    }
    &.oil {
      background-color: #c0ca96;
    }
  }

  .team-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social-icons {
    margin-#{$start-dir}: 20px;
    img {
      transition: all .3s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
