/// Start About Section
section#about-us.about-us
    .circles.d-none.d-lg-block
        img.one(src='images/shapes/circles/01.svg' alt='Circle')
        img.two(src='images/shapes/circles/02.svg' alt='Circle')
        img.three(src='images/shapes/circles/03.svg' alt='Circle')
        img.four(src='images/shapes/circles/04.svg' alt='Circle')
    .container
        .row.align-items-center
            .col-12.col-lg-6
                .section-heading
                    h2.wow.animate.animate__fadeInDown More than 20 Years Beauty Center Experience
                    p.wow.animate.animate__fadeInUp
                        | If you are going to use a passage of Lorem Ipsum, you need to be sure
                        | there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined
                        | chunks as necessary, making this the first true generator on the .
            .col-12.col-lg-6.text-center.text-lg-end
                img.wow.animate.animate__fadeInRight(src='images/about.png' alt='About Image')
/// End About Section
