// Start Hero Section
section#hero.hero 
    .overlay 
    video(autoplay muted loop)
        source(src='images/hero.mp4' type='video/mp4')
    .container
        .row
            .col-12.col-md-12.col-lg-10.col-xl-5
                h1.wow.animate.animate__fadeInDown A Smooth Salon Experience in  Your Town
                p.wowo.animate.animate__fadeInDown
                    | Learn what defines us as a team, as a company, and
                    | check open position if you want to be one of us!
                a.button.wow.animate.animate__zoomIn(href='#our-services') Our Services
// End Hero Section
