include ../helpers/_mixins

// Start Our Services Section
section#our-services.our-services.position-static
    .shapes.d-none.d-lg-block
        img.circle-lins-01.anm(src='images/shapes/circle-lins.svg' alt='Shape' data-speed-x='-30' data-speed-y='40' data-speed-scale='0' data-speed-rotate='-50' data-speed-opacity='0')
        img.waves.anm(src='images/shapes/waves.svg' alt='Shape' data-speed-x='-30' data-speed-y='40' data-speed-scale='0' data-speed-rotate='-50' data-speed-opacity='0')
        img.circle-circle-01.anm(src='images/shapes/circle-circle.svg' alt='Shape' data-speed-x='-30' data-speed-y='40' data-speed-scale='0' data-speed-rotate='-50' data-speed-opacity='0')
        img.circle-circle-02.anm(src='images/shapes/circle-circle.svg' alt='Shape' data-speed-x='-30' data-speed-y='40' data-speed-scale='0' data-speed-rotate='-50' data-speed-opacity='0')
    .container
        .section-heading.text-center
            h2.wow.animate.animate__fadeInUp Our Services
        .row
            +serviceCard({
                title: "Medical Department", 
                desc: "Beauty has many meanings, drawn with a soft artistic touch...",
                img: "../images/service.png",
                modal:{
                    id: "medical-department",
                    label: "medicalLabel",
                    title: "Medical Department",
                    text :"Beauty has many meanings, drawn with a soft artistic touch from the hands of the best and strongest, a specialized cadre of doctors in the field of cosmetics exclusively in our center. We use only the latest medical technologies and the best products from international origins, to provide you with real, guaranteed results."
                }
                })   
            +serviceCard({
                title: "Hair Removal",
                desc: "There is no content",
                img: "../images/candela.png",
                modal:{
                    id: "hair-removal",
                    label: "hairRemovalLabel",
                    title: "Hair Removal",
                    text : "There is no content"
                }
            })   
            +serviceCard({
                title: "Nail Section",
                desc: "Be distinguished and you will enhance the beauty...", 
                img: "../images/service.png",
                modal:{
                    id: "nail-section",
                    label: "nailSectionLabel",
                    title: "Nail Section",
                    text :"Be distinguished and you will enhance the beauty and elegance of the appearance of your nails with acrylic artists and nail care in our center."
                }

            })   
            +serviceCard({
                title: "Bridal and Makeup",
                desc: "Everything about the beauty of your hair, make-up...",
                img: "../images/service.png",
                modal:{
                    id: "Makeup",
                    label: "makeupLabel",
                    title: "Bridal and Makeup",
                    text :"Everything about the beauty of your hair, make-up drawings, and keeping up with fashion are in the hands of the best hairdressers and make-up experts in Iraq only at our centerWe use only the finest international brands of makeup and the best dyes and products in the field of hair care."
                }
                })   
            +serviceCard({
                title: "Vibros and Tattoos",
                desc: "There is no content",
                img: "../images/service.png",
                modal:{
                    id: "tattoos",
                    label: "tattoosLable",
                    title: "Vibros and Tattoos",
                    text :"There is no content"
                }

            })   
            +serviceCard({
                title: "Skin Cleaning",
                desc: "Our center provides all the techniques of therapeutic..",
                img: "../images/aqua-pure.png",
                modal:{
                    id: "skin-cleaning",
                    label: "skingCleaning",
                    title: "Skin Cleaning",
                    text :"Our center provides all the techniques of therapeutic and cosmetic skin care by a specialized staff, and one of the most important features that distinguishes us is the Aqua Pure || - Inmod Our experts advise you to try the latest device in the world and the only one in Iraq exclusively at our center for reviving the skin and restoring its luster and obtaining freshness and healthy skin free of defects."
                }
            })   

// End Our Services Section


//- قسم الصالون

//-     
    كل ما يخصئ جمال شعرك و رسمات المكياج و مواكبة الموضة بايدي أفضل مصففي الشعر و خبراء المكياج على مستوى العراق فقط لدى مركزنا
    نستخدم فقط اجود الماركات العالمية من المكياج و افضل الصبغات و المنتجات في مجال العناية بالشعر


//- قسم الأكرليك
//- كوني متميزة سيتدتي بجمال و أناقة مظهر أضافرك مع فنانين الأكرليك و العناية بالأظافر في مركزنا

//- القسم الطبي
//- 
    للجمال معاني كثيرة ترسم بلمسة فنية ناعمة من ايادي افضل و اقوى كادر متخصص من الأطباء في مجال التجميل حصريا في مركزنا
    فنحن لا نستخدم سوى أحدث التقنيات الطبية و افضل المنتجات من مناشئ عالمية, لنوفر لكي سيدتي نتائج حقيقية مضمونة


//- قسم تنظيف البشرة 

//-     
    يوفر مركزنا كافة تقنيات العناية العلاجية و التجميلية بالبشرة على يد كادر متخصص, ومن أهم ما يميزنا جهاز Aqua Pure || -  Inmod
    ينصحكم خبرائنا بتجربة الجهاز الأحدث عالميا و الوحيد في العراق حصرياً لدى مركزنا لإحياء البشرة و إعادة رونقها و الخصول على نضارة و بشرة صحية خالية من العيوب.
