// Start Our Message Section
section#our-message.our-message
    .shapes.d-none.d-lg-block
        img.heart-01.anm(src='images/our-message/heart-1.svg' alt='Heart' data-speed-x='-30' data-speed-y='40' data-speed-scale='0' data-speed-rotate='-50' data-speed-opacity='0')
        img.heart-02.anm(src='images/our-message/heart-2.svg' alt='Heart' data-speed-x='-30' data-speed-y='40' data-speed-scale='0' data-speed-rotate='-50' data-speed-opacity='0')
    .container
        .row.align-items-center.flex-column-reverse.flex-lg-row
            .col-12.col-lg-6.message.text-center.text-lg-start
                img.wow.animate.animate__flash(src='images/our-message/message.svg' alt='Message')
            .col-12.col-lg-6.text-center.text-lg-start
                .section-heading
                    h2.wow.animate.animate__fadeInDown Our Message
                    p.wow.animate.animate__fadeInUp
                        | Contrary to popular belief, Lorem Ipsum is not simply random text.
                        | It has roots in a piece of classical Latin literature from 45 BC,
                        | making it over 2000 years old. Richard McClintock,
                        | a Latin professor at Hampden-Sydney Collegein Virginia,
                        | looked up one of the more obscure Latin words,,
                        | from a Lorem Ipsum passage, and going
                        | through the cites of the word in  Cicero
// End Our Message Section
