// Start Team Section
section#team.team
    .container
        .row
            .col-12.col-lg-5.text-side.text-center.text-lg-start
                .section-heading
                    h2.wow.animate.animate__fadeInDown
                        | Meet our team of creative experts.
                    p.wow.animate.animate__fadeInUp
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
            .col-12.col-lg-7.team-swiper.position-relative
                .team-bg.position-relative.d-none.d-lg-block.wow.animate.animate__zoomIn
                    img(src='images/team-bg.svg' alt='Team Background')
                .team-slider-mask.swiper-wrapper
                    .swiper-slide.team-slide.wow.animate.animate__slideInRight
                        +teamCard({name:"Choi Ming Suk", role:"UI Designer", img:"/images/team/team-01.png"})
                    .swiper-slide.team-slide.wow.animate.animate__slideInRight
                        +teamCard({name:"Choi Ming Suk", role:"UI Designer", img:"/images/team/team-02.png", bg:"blue"})
                    .swiper-slide.team-slide.wow.animate.animate__slideInRight
                        +teamCard({name:"Choi Ming Suk", role:"UI Designer", img:"/images/team/team-03.png", bg:"oil"})
                .swiper-controls.d-none.d-lg-block
                    .team-slider-arrow-left.swiper-button-prev.wow.animate.animate__rotateIn
                    .team-slider-arrow-right.swiper-button-next.wow.animate.animate__rotateIn
            .team-slider-overlay-left.d-none.d-xl-block
            .team-slider-overlay.d-none.d-lg-block
// End Team Section
